.list {
  padding: 62px 62px 62px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 2rem;
  justify-content: space-between;
  min-height: 400px;
  position: relative;
}
.info {
  position: absolute;
  transform: translate(-50%, 0);
  max-width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
}
